* {
    font-family: "CaskaydiaMono Nerd Font", monospace;
    font-size: 14px;
}

window.Bar {
    background-color: transparent;
    color: #cdd6f4;
}

.window-list {
    margin: 5px;
}

.window-pill {
    background-color: transparent;
    color: #cdd6f4;
    border: 2px solid #89dceb;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 3px;
    min-width: 50px;
    
    &.focused {
        background-color: #89dceb;
        color: #1e1e2e;
    }
    
    &:hover {
        background-color: rgba(137, 220, 235, 0.2);
    }
}

.clock {
    background-color: #f38ba8;
    padding: 0 10px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.sysmon {
    margin: 5px;
    border-radius: 10px;
    background-color: #a6e3a1;
    
    .cpu, .memory {
        padding: 0 10px;
    }
    
    .cpu {
        color: #a6e3a1;
    }
    
    .memory {
        color: #89dceb;
    }
}
