* {
	border: none;
	border-radius: 0;
	font-family: "CaskaydiaMono Nerd Font";
	font-size: 13px;
	min-height: 0;
}

#workspaces {
	padding: 0;
	margin: 0;
}

window#waybar {
	background: transparent;
	color: #cdd6f4;
}

#workspaces button {
	padding: 4px 10px;
	margin: 5px 3px;
	color: #cdd6f4;
	background: #45475a;
	border-radius: 12px;
	min-width: 20px;
	min-height: 0;
	transition: all 0.2s ease;
}

#workspaces button.active {
	background: #89b4fa;
	color: #1e1e2e;
	padding: 4px 16px;
	margin: 5px 3px;
	min-width: 35px;
	min-height: 0;
	font-weight: bold;
}

#workspaces button:hover {
	background: #45475a;
}

#clock {
	padding: 4px 15px;
	margin: 5px 3px;
	background: #45475a;
	color: #cdd6f4;
	border-radius: 12px;
	min-height: 0;
	font-weight: bold;
}

#cpu,
#memory,
#temperature {
	padding: 4px 10px;
	margin: 5px 3px;
	background: #45475a;
	color: #cdd6f4;
	border-radius: 12px;
	min-height: 0;
}

#cpu {
	color: #89b4fa;
}

#memory {
	color: #a6e3a1;
}

#temperature {
	color: #f38ba8;
}
